<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Monopoly de fallout</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
{% block body %}

{% if error == "usuario!exist" %}
	<script type="text/javascript">
		alert("El usuario no existe");
	</script>
{% elif error== "pswdIncorrecta" %}
	<script type="text/javascript">
		alert("Contraseña incorrecta");
	</script>
{% elif error== "noLog" %}
	<script type="text/javascript">
		alert("No se ha logeado");
	</script>
{% endif %}
{% if error == "sala_llena" %}
	<script type="text/javascript">
		alert("La sala esta llena");
	</script>
{% endif %}

<body>
	<video id="video" autoplay="autoplay" loop="loop" preload="auto">
  		<source src="../static/stand_video.ogv" type="video/ogg"></source>
	</video>
	<div class="centrar">
		<img src="../static/login_fallout.png">
	</div>
	<div class="centrar div_form">
		<div class="div_bg">
			<form class="centrar_v padding_side" form action="" method="post">
				<div class="div_pad_inputs">
					<input type="text" name="usuario" placeholder="Usuario o correo" required>
				</div>
				<div class="div_pad_inputs">
					<input type="password" name="password" placeholder="Contraseña" required>
				</div>
				<div class="div_pad_inputs">
					<input type="submit" name="boton" value="Entrar">
				</div>
			</form>
		</div>
		<hr  width="100%" noshade>
		<div style="float:left; width: 50%;">
			<form form_action="" method="post">
				<input type="submit" name="boton" style="background-color: #48DCEE; width: 90%;" value="Registro">
			</form>
		</div>
		<div style="float:left; width: 50%; text-align: center;">
			<form form_action="" method="post">
				<input type="submit" name="boton" style="background-color: #EEAC48; width: 90%;" value="Contraseña">
			</form>
		</div>
	</div>
</body>
{% endblock %}
</html>